body {
    background: #f9f9fb;
}

footer.footer {
    height: 80px;
}

footer.footer a {
    color: white;
}

p {
    margin: 10px 0;
}

.page-wrapper {
    margin-bottom: -80px;
}

.doc-content {
    margin-left: 260px;
}

#back-to-zube {
    position: absolute;
    right: 20px;
    top: 20px;
}

#back-to-zube a {
    color: #58bbee;
}

.callout-block {
    background: white;
    border: 1px solid;
    padding: 14px;
    margin: 20px 40px;
}

.callout-block p {
    color: #777;
    margin: 0;
}

.callout-success {
    border-color: #75c181;
}
.callout-success .callout-title, .callout-success .icon-holder {
    color: #75c181;
}

.callout-info {
    border-color: #58bbee;
}
.callout-info .callout-title, .callout-info .icon-holder {
    color: #58bbee;
}

.contact-callout {
    text-align: center;
    background: #f5f5f5;
    padding: 14px;
    border: 1px solid #666;
    margin-bottom: 0;
}
.contact-callout .content {
    margin-left: 0;
}

.contact-callout a {
    margin: 0 10px;
}

.body-blue .question {
    color: #494d55;
}

.body-blue .question i {
    color: #58bbee;
    opacity: 1;
}

.btn.provider-btn {
    font-weight: 400;
    letter-spacing: .02em;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border-radius: 2px;
    margin: 20px;
    margin-left: 0px;
}

.provider-btn img.vendor-icon {
    max-height: initial;
    max-width: initial;
    height: 25px;
    margin-right: 10px;
    float: left;
}

.provider-btn span {
    line-height: 25px;
}

.provider-btn:hover, .provider-btn:focus, .provider-btn:active {
    color: white
}

a.github-btn {
    color: white;
    background: #6e5494;
}
a.github-btn:hover, a.github-btn:focus, a.github-btn:active {
    color: white;
    background-color: #513e6d;
}

a.google-btn {
    color: white;
    background: #0d83dd;
}
a.google-btn:hover, a.google-btn:focus, a.google-btn:active {
    color: white;
    background-color: #0a61a3;
}
/*
.provider-btn.btn-lg {
    margin: 10px 0;
    padding: 12px;
}
.provider-btn.btn-lg img.vendor-icon {
    height: 40px;
}
.provider-btn.btn-lg span {
    line-height: 40px;
}*/

/* API Page */
#api-documentation {
    a {
        cursor: pointer;
    }
    h3.model {
        margin-bottom: 10px;
    }
    .popper-target {
        display: none;
    }
    .callout-block {
        margin: 10px 0;
        padding: 8px 12px;
        border-radius: 4px;
        border: 1px solid;

        &.callout-info {
            background: #58bbee10;
            border-color: #58bbee;
            p {
                color: darken(#58bbee, 30%);
            }
        }
        &.callout-warn {
            background: #9c27b010;
            border-color: #9c27b080;
            p {
                color: darken(#9c27b0, 15%);
            }
        }
    }
    .endpoint {
        h4 {
            opacity: 0.75;
            margin-top: 30px;
            margin-bottom: 15px;
        }
        .pointer {
            padding: 10px;
            background: #58bbee10;
            border-radius: 4px;
            border: 1px solid #58bbee;
            color: darken(#58bbee, 30%);
            font-family: monospace;
            margin: 15px 0;
        }
        .params-tables-section {
            h5 {
                font-weight: 400;
            };
            .request-options-header {
                font-family: monospace;
                display: inline-block;
            }
            table.table {
                tr  {
                    td, th {
                        padding: 8px 10px;
                        border: none;
                    }
                }
                thead {
                    th {
                        border-bottom: 2px solid #58bbee55;
                    }
                }
                tbody {
                    td {
                        &.name {
                            span{
                                font-family: monospace;
                                display: inline-block;
                                padding: 2px 4px;
                                background: rgba(0,0,0,0.04);
                                border-radius: 4px;
                            }
                        }
                        &.type {
                            span {
                                font-family: monospace;
                                color: darken(#58bbee, 30%);
                            }
                        }
                        &.desc {}
                        }
                    }
                }
            }
        }

}
