<div id="rate-limiting" class='section-block'>
    <h4>Rate Limiting</h4>
    <p>
      You can can make at most one (1) request per second. Short bursts of a few requests at a slightly higher rate are permissible.
    </p>
</div>
<div id="abuse" class='section-block'>
    <h4>Abuse</h4>
    <p>
      Never make concurrent requests, or make a multitude of requests at a rate faster than one per second. Failure to observe these rules will result in rejection of your request and possible suspention from future API usage.
    </p>
</div>
