<div id="rate-limiting" class='section-block'>
    <h4>Rate Limiting</h4>
    <p>
      You can can make at most one (1) request per second. While short bursts of a few requests at a slightly higher rate are permitted, exceeding one request per second for any extended duration will result in rejection of your requests and may constitute abuse.
    </p>
</div>
<div id="abuse" class='section-block'>
    <h4>Abuse</h4>
    <p>
      Never make concurrent requests, or make requests at a rate faster than one per second. If you accidentally hit the rate limit, please back off the rate of your request immediately. If you happen to trigger abuse detection, please do your best not to trigger it again. Failure to observe these rules will result in rejection of your requests and possible suspension from future API usage.
    </p>
</div>
