<h6 class='request-options-header'>
    <%= header + ':' %>
</h6>
<table class='table table-bordered table-condensed table-responsive'>
    <thead>
        <tr>
            <th>
                name
            </th>
            <th>
                type
            </th>
            <th>
                description
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <% options.forEach(attr => { %>
            <td class='name'>
                <span><%= attr.name %></span>
            </td>
            <td class='type'>
                <span><%= attr.type %></span>
            </td>
            <td class='desc'>
                <span><%= attr.desc %></span>
            </td>
        <% }) %>
        </tr>
    </tbody>
</table>
